.contactdetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding: 10px;
}
textarea{
    width: 100%;
    grid-column: span 2;
}
.textarea{
    width: 100%;
    grid-column: span 2;
}

.about{
    grid-column: span 2;
}